ion-content {
    --background: linear-gradient(90deg, rgba(43,90,148,1) 0%,rgb(33, 94, 199) 35%, rgb(140, 154, 179) 100%);
   .center{ 
    margin-top: 60px;
    --background: linear-gradient(90deg, rgba(43,90,148,1) 0%,rgb(33, 94, 199) 35%, rgb(140, 154, 179) 100%);
   color: #ffffff;
}

}