

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
          <ion-avatar class="bordered"  slot="end" fill="solid" color="light" >
            <img src="#">
          </ion-avatar>
       
   
      <ion-title>Page Facebook</ion-title>
    </ion-toolbar>
    
  </ion-header>
    <div class="slides ion-margin-bottom">
      
    </div>
    <div class="container">
       
<div class="elfsight-app-435e4708-394f-4f20-9be7-bb05a13dfaf5"></div>
    
    </div>
    
</ion-content>


