

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-button slot="end" class="bordered" fill="solid" color="light">
        <ion-icon name="images-outline"></ion-icon>
       </ion-button>

   
      <ion-title>Gallerie</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="slides ion-margin-bottom">
    
  
    </div>
  
    <div class="container" *ngFor="let item of items | async">
      <ion-thumbnail *ngIf="item.imageUrl">
       <a href="{{item.imageUrl}}"> <img [src]="item.imageUrl" class="ppp"></a>
      </ion-thumbnail>
      <ion-item lines="none" >
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="4"> 
              <ion-label >
               
              </ion-label>
            </ion-col>
            
            <ion-col size="7"> 
              <ion-label >
                <h4>{{ item.title }}</h4>
                <H6>Meilleure photo </H6>
              </ion-label>
            
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
      
    </div>
    
</ion-content>


  


