
  <div class="main-app-top">

    <div class="top-header">
     
    </div>

    <ion-list no-lines>
      <ion-item>
        <img src="#">
        <div class="item-detail-container">
          <div class="item-container">
            <h3>8 Mile</h3>
            <p>by Eminem</p>
            <p> <strong>1h 50min | Drama, Music </strong></p>
          
          </div>
          
        </div>
      </ion-item>
      <ion-item>
          <img src="#">
          <div class="item-detail-container">
            <div class="item-container">
              <h3>Annabelle: Creation</h3>
              <p>by  David F. Sandberg</p>
              <p> <strong>1h 49min | Horror, Mystery, Thriller  </strong></p>
              
            </div>
 
          </div>
        </ion-item>
        <ion-item>
            <img src="#">
            <div class="item-detail-container">
              <div class="item-container">
                <h3>X-Men: Apocalypse</h3>
                <p>by Bryan Singer</p>
                <p> <strong>2h 24min | Action, Adventure, Sci-Fi </strong></p>
               
              </div>
              
            </div>
          </ion-item>
          <ion-item>
              <img src="#">
              <div class="item-detail-container">
                <div class="item-container">
                  <h3>Avatar</h3>
                  <p>by James Cameron</p>
                  <p> <strong>2h 42min | Action, Adventure, Fantasy  </strong></p>
                  
                </div>
                
              </div>
            </ion-item>
    </ion-list>
  </div>

  


